@import "src/assets/styles/core/colors";

.jumbotron {
  background: $primary;

  &--title {
    color: $textColor;
    font-size: 64px;
    text-align: center;
  }

  &--text {
    color: $textColor;
    font-size: 20px;
    text-align: center;
    width: 60%;
  }
}

main {
  padding-bottom: 75px;
}
